/* @font-face {
    font-family: "MartianMono";
    src: url("../fonts/MartianMono-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "SpaceMono";
    src: url("../fonts/SpaceMono-Regular.ttf") format("truetype");
} */

@font-face {
    font-family: "Fixedsys";
    src: url("../fonts/FSEX302.ttf") format("truetype");
}