/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */

/* @font-face {
    font-family: "MartianMono";
    src: url("../fonts/MartianMono-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "SpaceMono";
    src: url("../fonts/SpaceMono-Regular.ttf") format("truetype");
} */

/* @font-face {
    font-family: "Fixedsys";
    src: url("../fonts/FSEX302.ttf") format("truetype");
}

@font-face {
    font-family: "MonospaceR";
    src: url("../fonts/MonospaceRegular.ttf") format("truetype");
} */

@font-face {
    font-family: "IBM Plex Mono";
    src: url("../fonts/IBMPlexMono-Regular.ttf") format("truetype");
}